*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* When you add padding, etc. it will be on the inside of the element */
}

body{
    font-family: sans-serif;
}

i,svg{
    pointer-events: none;
    /* click on the volume button, not on the svg */
}

.kick-pad, .snare-pad, .hihat-pad{
    width: 4rem;
    height: 4rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad{
    background: rgb(177, 177, 255);
}

.snare-pad{
    background: rgb(243, 125, 125);
}

.hihat-pad{
    background: rgb(164, 248, 164);
}

.kick-pad.active{
    background: rgb(115, 115, 255);
}

.snare-pad.active{
    background: rgb(255, 70, 70);
}

.hihat-pad.active{
    background: rgb(108, 255, 108);
}

.sequencer{
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick, 
.snare, 
.hihat{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button{
    padding: 1rem;
    border: none;
    background: rgb(236, 227, 227);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad{
    transition: all 0.5s ease;
}

.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(236, 227, 227);
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

select{
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.mute.active{
    background: grey;
}

.tempo{
    margin: 3rem;
    width: 30%;
}

.tempo-slider{
    padding: 0.25rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(236, 227, 227);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p{
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}